// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$flashy-pink: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
$masala-brown: #423a3a;
$eunry-pink: #ce9898;
$sea-pink: #ee8b8b;
