@use "./../01-abstracts/" as *;

.max-width {
  max-width: calc(445px + 64px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;

  @include breakpoint($lg) {
    margin-left: 0;
    //   margin-left: calc(165px - 32px);
  }
}

.wrapper {
  position: relative;
  max-width: calc(1440px - 330px);
  margin: auto;
}
