@use "./../01-abstracts/" as *;

.main {
  &__img {
    max-width: 445px;
    margin: auto;
    @include breakpoint($lg) {
      position: absolute;
      top: 0;
      right: -165px;
      max-width: max-content;
    }
  }

  &__container {
    text-align: center;
    margin: 64px auto 92px;

    @include breakpoint($lg) {
      text-align: left;
    }
  }

  &__title {
    font-weight: 300;
    font-size: rem(40px);
    line-height: rem(42px);
    letter-spacing: rem(10.8254px);
    text-transform: uppercase;
    margin-bottom: 16px;

    @include breakpoint($lg) {
      font-size: rem(64px);
      line-height: rem(64px);
      letter-spacing: rem(17.3206px);
      margin-bottom: 32px;
    }

    &--bold {
      font-weight: 600;
      color: $masala-brown;
    }
  }

  &__text {
    margin-bottom: 32px;

    @include breakpoint($lg){
      margin-bottom: 40px;
    }
  }

  &__form {
    position: relative;
    &--error {
      & .main__input {
        border: solid 2px $error-red;
      }

      &::before {
        content: url("/src/images/icon-error.svg");
        position: absolute;
        right: 72px;
        top: 13px;
    @include breakpoint($lg){
      right: 116px;
        top: 17px;
    }
      }

      &::after {
        content: "Please provide a valid email";
        font-size: rem(13px);
        line-height: rem(13px);
        color: $error-red;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
        margin-left: 24px;
        text-align: left;
    @include breakpoint($lg){
      line-height: rem(28px);
    }
      }
    }
  }

  &__input {
    background-color: transparent;
    border: solid 1px $eunry-pink;
    border-radius: 28px;
    width: 100%;
    height: 48px;
    padding: 11px 24px 9px;

    &::placeholder {
      color: $eunry-pink;
    }

    &:focus-visible {
      outline-color: $eunry-pink;
    }

    @include breakpoint($lg){
      height: 56px;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 64px;
    background: $flashy-pink;
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border-radius: 28px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    
    &:hover {
      opacity: 0.5;
    }

    &:active {
      box-shadow: none; 
    }

    &-img {
      width: 12px;
      margin: auto;
      position: relative;
      left: 2px;
    }

    @include breakpoint($lg) {
      width: 100px;
    }
  }
}
